# R
.Rhistory
.RData
.Rproj.user/

# Quarto
.quarto/
*_files/
*.html

# OS
.DS_Store
Thumbs.db

# LaTeX build files
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz

# latexmk output directory
%OUTDIR%/

Build/
*.synctex.gz
*.fdb_latexmk
*.fls
*.aux
*.log
*.out
*.toc